{% extends 'bases/base.html' %}


{% block title %}
    
{% endblock title %}
    

{% block head %}
    
{% endblock head %}


{% block content %}
    {% include 'partials/nav.html' %}
    {% include 'partials/messages.html' %}
    <div style="width: 100%;height: 80vh;display: flex;justify-content: center;align-items: center;flex-direction: column;">
        <h1>Reset Password</h1>
        <div style="width: 18rem;">
            <form action="{% url 'reseting_password' uidb64=uidb64 token=token %}" method="POST">
                {% csrf_token %}
                <label for="">New password</label>
                <input type="password" name="password1" class="form-control">
    
                <label for="">Confirm new password</label>
                <input type="password" name="password2" class="form-control">
                <br>
                <button class="btn btn-success" style="width: 100%;">Reset</button>
            </form>
        </div>
    </div>
{% endblock content %}
    