{% extends "bases/base.html" %}
{% load static %}

{% block title %}
    Add Company
{% endblock %}

{% block head %}

    <link rel="stylesheet" href="{% static 'css/users/users.css' %}">
    <style>
        body {
            overflow-y: hidden;
        }
    </style>
{% endblock %}


{% block content %}
    {% include "partials/nav.html" %}
    <div class="container">
        <div class="row" style="scale: 0.9;">
            <div class="col-md">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        
                    <label>{{ form.name.label }}</label>
                    {{ form.name }}
                    <br>
                    <label>{{ form.cnpj.label }}</label>
                    {{ form.cnpj }}
                    <br>
                    <label>{{ form.site.label }}</label>
                    {{ form.site }}
                    <br>
                    <label>{{ form.existence_time.label }}</label>
                    {{ form.existence_time }}
                    <br>
                    <label>{{ form.description.label }}</label>
                    {{ form.description }}
                    <br>
                    <label>{{ form.last_date_capture.label }}</label>
                    {{ form.last_date_capture }}
                    <br>
                    <label>{{ form.percentual_equity.label }}</label>
                    {{ form.percentual_equity }}
                    <input type="submit" class="btn btn-lg btn-indigo" value="Add">
            </div>
                <br>
            <div class="col-md">
                <label style="margin-bottom: 5px;">{{ form.internship.label }}</label>
                {{ form.internship }}
                <label style="margin-top: 5px;">{{ form.area.label }}</label>    
                {{ form.area }}
                <br>
                <label>{{ form.target_audience.label }}</label>
                {{ form.target_audience }}
                <br>
                <label>{{ form.value.label }}</label>
                {{ form.value }}
                <br>
                <label>{{ form.pitch.label }}</label>
                {{ form.pitch }}
                <br>
                <label>{{ form.logo.label }}</label>
                {{ form.logo }}
                <br>
                {% include "partials/form_error.html" %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}