{% extends "bases/base.html" %}
{% load static %}

{% block title %}
{{ company.name }}
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/company/show.css' %}">
<link rel="stylesheet" href="{% static 'css/users/users.css' %}">
<link rel="stylesheet" href="{% static 'css/company/see.css' %}">

{% endblock %}


{% block content %}
{% include "partials/nav.html" %}
<br><br>
<div class="container">
    {% include "partials/messages.html" %}
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-3">
                    <img src="{{ company.logo.url }}" class="foto-empresa" alt="{{company.name}}-logo">
                </div>
                <div class="col-md">
                    <h3>Percentage captured</h3>
                    <h2>{{ company.name }}</h2>

                </div>

            </div>
            <br><br>
            <div class="row">
                <div class="col-md">
                    <h2 class="titulo2">{{total_investors}} Investors</h2>
                    <a href="#" class="sub-fonte">See investors</a>
                    |
                    <a href="{% url 'seeCompanyInvestors' slug=company.slug %}" class="sub-fonte">See like investor</a>
                </div>
                <div class="col-md">
                    <h2 class="titulo2">R$ {{total_captado}} Raised</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md">
                    <h5>Percentage of equity sold</h5>
                    <div class="progress">
                        <!-- por resolver -->
                        <div class="progress-bar bg-primary" style="width: {{ sold_percentual }}%;"></div>
                        <div class="progress-bar bg-success" style="width:{{ company.percentual_equity }}%;"></div>
                    </div>
                    <br>
                    <label class="point-white"></label><span>&nbsp&nbsp Total</span>
                    <br>
                    <label class="point-green"></label><span>&nbsp&nbsp For sell</span>
                    <br>
                    <label class="point-blue"></label><span>&nbsp&nbsp Sold</span>
                </div>
                <div class="col-md">
                    <h5>Valuation</h5>
                    <span class="sub-fonte">Current: {{current_valuation}}</span>
                    <br>
                    <span class="sub-fonte">Expected: {{ company.get_valuation }}</span>
                </div>


                <div class="documentos">
                    <h3>Attach document</h3>
                    {% include "partials/form_error.html" %}
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %}

                        {% for field in form %}
                        {{ field.label }}
                        {{ field }}
                        <br>
                        {% endfor %}

                        <input type="submit" class="btn btn-success" value="Attach">
                    </form>
                    <br><br>




                    {% for document in documents %}
                    <div class="list_documentos">
                        <div class="row">
                            <div class="col-md-2" style="text-align: center">
                                <a href="{{ document.document.url }}" download>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: white;"
                                        fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                        <path
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                        <path
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                    </svg>
                                </a>

                            </div>
                            <div class="col-md-6">{{ document.title }}</div>
                            <div class="col-md-4" style="text-align: right;">
                                {% if document.company.user == request.user %}
                                <a href="{% url 'removeDocument' slug=document.slug %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="color: white;"
                                        fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path
                                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
                                    </svg>
                                </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <p></p>
                    {% endfor %}

                    <br>
                    <hr>

                    <div class="row">
                        <div class="col-md">
                            <form action="{% url 'addMetric' company.slug %}" method="POST">{% csrf_token %}
                                <label>Title</label>
                                <input type="text" class="form-control" name="title"
                                    placeholder="Enter the metric title">

                        </div>
                        <div class="col-md">
                            <label>Value</label>
                            <input type="number" class="form-control" name="value">
                        </div>

                    </div>
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-indigo-normal">
                    </form>
                    <br><br>
                </div>
            </div>

        </div>
        <div class="col-md-5 dark-color intereses-investimentos">
            <h3>Investment requests</h3>
            <hr>
            <br>

            {% if investment_proposal_sent %}
            {% for ip in investment_proposal_sent %}
            <div class="bg-color-dark card-investimento">
                <div class="row">
                    <div class="col-md" style="display: flex;justify-content: space-between;">
                        <div style="text-align: left;">

                            <span class="sub-fonte"><a style="color: white;" href="{% url 'profile' username=ip.investor.username %}">{{ip.investor.username}}</a></span>
                            <br>
                            <span class="sub-fonte2">R$ {{ip.value}}</span>
                            <br>
                            <span class="sub-fonte2">{{ip.percentual}}%</span>

                            {% if ip.get_valuation >= company.get_valuation %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-caret-up-fill" style="color: #00ff00;" viewBox="0 0 16 16">
                                <path
                                    d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                            </svg>
                            {% else %}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                style="color: #ff0000;" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path
                                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-2" style="margin: 0;">
                        <a href="{% url 'manage_proposal' ip.id %}?acao=yes" class="btn btn-indigo-normal">Yes</a>
                        <br>
                        <a href="{% url 'manage_proposal' ip.id %}?acao=no" style="margin-top: 5px;"
                            class="btn btn-danger">No</a>
                    </div>
                </div>
            </div>
            <br>
            {% endfor %}
            {% else %}
            <p><strong>No requests were sent </strong><span style="color: red;font-weight: 800;">X</span></p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}