{% extends "bases/base.html" %}
{% load static %}

{% block title %}
Companies
{% endblock %}

{% block head %}

<link rel="stylesheet" href="{% static 'css/company/show.css' %}">
<link rel="stylesheet" href="{% static 'css/users/users.css' %}">

{% endblock %}


{% block content %}
{% include "partials/nav.html" %}
<br><br>
<div class="container">
    <div class="row">
        {% include "partials/messages.html" %}
        <div class="col-md-4">
            <form action="{% url 'showCompany' %}" method="POST">
                {% csrf_token %}
                <label style="margin-bottom: 8px;"><strong>Company</strong></label>
                <input type="text" name="company" class="form-control" placeholder="Seach for a company">
            </div>
            <div class="col-md">
                <br>
                <input type="submit" value="Filter" class="btn btn-outline-primary" style="margin-top: 8px;">
            </form>
        </div>
    </div>

</div>
<br>
<div class="container dark-color container_company">
    <table class="table">
        <thead>
            <tr class="cabecalho" style="background-color: transparent !important;">
                <th class="cabecalho" scope="col">Name</th>
                <th class="cabecalho" scope="col">Capting Percentual</th>
                <th class="cabecalho" scope="col">Status</th>
                <th class="cabecalho" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for company in companies %}
            <tr class="linha">
                <td class="linha">{{ company.name }}</td>
                <td class="linha">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar"
                            style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                            aria-valuemax="100"></div>
                            <!-- TODO: depende dos investidores -->
                    </div>
                </td>
                <td class="linha">{{ company.get_status }}</td>
                <td class="linha"><a href="{% if request.user != company.user %}{% url 'seeCompanyInvestors' company.slug %}{% else %}{% url 'seeCompany' company.slug %}{% endif %}" class="btn btn-indigo-normal">Abrir</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}